{% extends "base.html" %}

{% block content %}

<form action="/songs" method="POST">
  <input type="text" name="author" placeholder="Author" class="input input-bordered w-full max-w-xs" />
  <input type="text" name="title" placeholder="Title" class="input input-bordered w-full max-w-xs" />
  <textarea name="contents" placeholder="Tab" class="textarea textarea-bordered textarea-lg w-full max-w-xs" ></textarea>
    <button class="btn btn-primary" type="submit">Add</button>
</form>


<h1>Songs</h1>
<ul>
    {% for song in songs %}
    <li><a href="/songs/{{ song.id() }}">{{ song.author() }} - {{ song.title() }}</a></li>
    {% endfor %}
</ul>


{% endblock %}
