@tailwind base;

@layer base {
  h1 {
    @apply text-3xl;
    @apply mt-4;
    @apply mb-4;
  }
}

@tailwind components;
@tailwind utilities;


.tablature {
  @apply font-mono;
  font-size: 1.2rem;
  line-height: 1.3rem;
}

.tablature .chord {
  color: theme('colors.red.500');
  font-weight: bold;
}

.tablature .chord-selected {
  background-color: theme('colors.red.800');
  color: theme('colors.white')
}

.tablature .fingering {
  color: theme('colors.blue.600');
}

.tablature .fingering-selected {
  background-color: theme('colors.blue.900');
  color: theme('colors.white')
}

.song-drawer {
  @apply w-96;
  @apply overflow-hidden;
  @apply duration-500;
  @apply rounded-l-lg;
  background-color: theme('colors.gray.200');
  transition-timing-function: cubic-bezier(0, 0, 0.5, 1)
}

.song-drawer-closed {
  @apply w-0;
}
