@tailwind base;

@layer base {
  h1 {
    @apply text-2xl;
    @apply mt-4;
    @apply mb-4;
  }
}

@tailwind components;
@tailwind utilities;


.tablature {
  @apply font-mono;
  background-color: #eee;
  font-size: 1.2rem;
  line-height: 1.3rem;
}

.tablature .chord {
  color: red;
  font-weight: bold;
}

.tablature .fingering {
  color: blue;
}
